body{
    font-family: "Montserrat", sans-serif;
}

header{
    background: #BBBBBB;
    padding: 20px 0;
}
.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}
nav{
    position: absolute;
    top: 110px;
    right: 0;
}
nav li{
    display: inline; /*display inline es para modificar la orientación de la lista */
    margin: 0 0 0 15px;
}
nav a{
    text-transform: uppercase;/* text-transform: uppercase es pra convertir el txto en mayuscula*/
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
.productos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}
.productos li{
    display: inline-block; /*inline - block para colocar los elementos en forma vertical*/
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}
.productos li:hover{
    border-color: #c78c19;
}
.productos li:active{
    border-color: #088C19;/*Propiedad active para capturar el click del mouse*/
}
.productos h2{
    font-size: 30px;
    font-weight: bold;
}
.productos li:hover h2{
    font-size: 33px;
}
.producto-descripcion{
    font-size: 18px;
}
.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}
/* Capturando eventos con CSS */
nav a:hover{
    color: #c78c19;/*Propiedad hover para ue cambie de color*/
    text-decoration: underline;
}
footer{
    text-align: center;
    background: url(./Imagenes/bg.jpg);
    padding: 40px;
}
.copyright{
    color: white;
    font-size: 13px;
    margin: 20px;
}

/*Cotacto.html*/
main{
    width: 940px;
    margin: 0 auto;
}
form{
    margin: 40px 0;
}
form label, legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;/*Cambiar el tamaño del input*/
    width: 50%;
}
.checkbox{
    margin: 20px 0;
}

/* p{
    color: red;
} */
form p{
    color: blue;
}
.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background-color: darkorange;
    transform: scale(1.2) /*rotate(70deg)*/;
}

table{
    margin: 40px 40px;
}
thead{
    background: #555555;
    color: white;
    font-weight: bold;
}
td, th{
    border: 1px solid black;
    padding: 8px 15px;

}

/*CSS para el index*/
.banner{
    width: 100%;
}
.tituloPrincipal{
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em;
    clear: left;
}
.principal p{
    margin: 0 0 1em;
}
.principal strong{
    font-weight: bold;
}
.principal em{
    font-style: italic;
}
.utensilios{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}
.mapa{
    padding: 3em 0;
}
.mapa p{
    margin: 0 0 2em;
    text-align: center;
}
.contenidoDiferenciales{
    width: 640px;
    margin: 0 auto;
}
.listaDiferenciales{
    width: 40%;
    display: inline-block;
    vertical-align: top;
}
.items{
    line-height: 1.5;
}
/*Pseudo clases */
.items:first-child{
    font-weight: bold;
}
.imagenDiferenciales{
    width: 60%;
}
.video{
    width: 560px;
    margin: 1em auto;
}